@import "~office-ui-fabric-react/dist/sass/References.scss";
// background: linear-gradient(
// 135deg
// ,#9ff669 0%,#31DE79 100%);

// color: #fffc;
// background: linear-gradient(126deg ,#00ff69 0%,#2689b9 100%);
// Jaguar : Where the future begins
.salesPnp {
  background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
  font-family: monospace !important;
  margin: 0;
  padding: 0;
  min-height: 700px;
  .row {
    color: #e1f5fe;
    height: 90px !important;
    margin: 0px auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #23942c, #009688);
    border-radius: 0px 0px 10px 10px;
  }
  .column {
    width: 100%;
    .logo {
      height: 90px;
      align-items: center;
    }
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
    
    .productDetails {
      background-color: #e1f5fe;
      padding: 15px;
      font-size: 16px;
      border-radius: 16px;
      width: 30%;
      margin-top: 55px;
      height: 170px;
      box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
      transition: all 0.4s ease-in-out;
    }
    .productDetails:hover {
      background-color: #cddfe7;
      transform: scale(1.03, 1.03);
      transition: all 0.4s ease-in-out;
    }

    .allProduct{ 
      height:250px;
      background-color: #e1f5fe;
      padding: 15px;
      font-size: 16px;
      border-radius: 16px;
      margin: 35px auto;
      width: 70%;
      box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
      transition: all 0.4s ease-in-out;
      line-height: 12px;
    }
    .allProduct:hover {
      background-color: #cddfe7;
      transform: scale(1.03, 1.03);
      transition: all 0.4s ease-in-out;
    }

    .buttonContainer {
      justify-content: center;
      margin-top: 30px;
    }
    .primaryButton {
      padding: 20px 35px;
      font-size: 16px;
      border-radius: 10px;
      color: #404040 !important;
      background-color: #66f5d8;
      transition: all 0.3s ease 0s;
    }
    .primaryButton:hover {
      color: #e1f5fe !important;
      background-color: #069577;
      box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
    }
  }
  .title {
    position: relative;
    font-size: 16px !important;
    top: -17px;
    // -webkit-text-stroke: .8px rgb(58, 58, 58);
    color: white;
    font-weight: 400;
  }
  .status{
    height: 28px !important;
  }
  .emptyheight {
    height: 28px !important;
    display: inline-block;
  }
  .equalwidth {
    width: 40% !important;
  }
}
// .row {
//   @include ms-Grid-row;
//   color: #1b1b1b !important;
//   background-color: #e0dede;
//   padding: 20px;
// }

// .column {
//   @include ms-Grid-col;
//   @include ms-lg10;
//   @include ms-xl8;
//   @include ms-xlPush2;
//   @include ms-lgPush1;
// }

// .title {
//   @include ms-font-xl;
//   @include ms-fontColor-white;
// }

// .subTitle {
//   @include ms-font-l;
//   @include ms-fontColor-white;
// }

// .description {
//   @include ms-font-l;
//   @include ms-fontColor-white;
// }

// .button {
//   // Our button
//   text-decoration: none;
//   height: 32px;

//   // Primary Button
//   min-width: 80px;
//   background-color: $ms-color-themePrimary;
//   border-color: $ms-color-themePrimary;
//   color: $ms-color-white;

//   // Basic Button
//   outline: transparent;
//   position: relative;
//   font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
//   -webkit-font-smoothing: antialiased;
//   font-size: $ms-font-size-m;
//   font-weight: $ms-font-weight-regular;
//   border-width: 0;
//   text-align: center;
//   cursor: pointer;
//   display: inline-block;
//   padding: 0 16px;

//   .label {
//     font-weight: $ms-font-weight-semibold;
//     font-size: $ms-font-size-m;
//     height: 32px;
//     line-height: 32px;
//     margin: 0 4px;
//     vertical-align: top;
//     display: inline-block;
//   }
// }
